#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  passwordpusher-app.service
BindsTo=passwordpusher.service
After=passwordpusher.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/passwordpusher-app.pid %t/passwordpusher-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/passwordpusher-app.pid \
    --cidfile %t/passwordpusher-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/passwordpusher.pod-id --replace -d --name  passwordpusher-app \
    --env-file=%S/state/database-url.env \
    --env-file=%S/state/password-pusher.env \
    --env=HTTP_PORT=8080 \
    --env=HTTPS_PORT=8443 \
    --volume passwordpusher-app:/app:Z \
    ${PWPUSH_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/passwordpusher-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP passwordpusher-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/passwordpusher-app.ctr-id
PIDFile=%t/passwordpusher-app.pid
Type=forking

[Install]
WantedBy=default.target
